Repository dbatten5/maison: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# See https://pre-commit.com/
default_stages: [pre-commit]

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.11
    hooks:
      - id: ruff-format
        args: [--config=.ruff.toml]
        name: Ruff Format

      - id: ruff-check
        args: [--fix, --diff, --exit-non-zero-on-fix, --config=.ruff.toml]
        name: Ruff Check

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        name: Prettier

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.2
    hooks:
      - id: commitizen
        name: Commitizen
      - id: commitizen-branch
        name: Commitizen Branch
        stages: [commit-msg]

Simplify `PyprojectParser`
  src/maison/parsers/pyproject.py
Due: none

Remove unused error handling
  src/maison/parsers/toml.py
Due: none

Add `section_key` to `TomlParser`
  src/maison/parsers/toml.py
  tests/integration_tests/parsers/test_toml.py
Due: none

Update argument name
  src/maison/config.py
  src/maison/parsers/pyproject.py
Due: none

Bump version
  pyproject.toml
  uv.lock
Due: check-toml

Bump version
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

Update package with latest from template
  .cruft.json
  noxfile.py
  scripts/bump-version.py
  scripts/get-release-notes.py
  scripts/setup-git.py
  scripts/setup-release.py
  scripts/setup-remote.py
  scripts/setup-venv.py
  scripts/util.py
  src/maison/protocols.py
Due: none

bump: version 2.0.1 → 2.0.2
  CHANGELOG.md
  pyproject.toml
  scripts/setup-release.py
  scripts/util.py
  uv.lock
Due: check-toml

Update changelog
  CHANGELOG.md
Due: none

Fix linting error
  CHANGELOG.md
Due: none

Update `dependabot` workflow
  .github/dependabot.yml
Due: check-yaml
